<div class="container-every">
<% if user_signed_in? %>
  <ul class="nav-upper nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">過去のイベント</a></li>
    <li><a href="#tab2" data-toggle="tab">次回のイベント</a></li>
  </ul>
  <% else %>
  <ul class="nav-upper nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">過去のイベント</a></li>
  </ul>
  <% end %>
</div>
<!-- / タブ-->
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="tab1">
    <div class="container-every">
      <div class="event_top_container">
        <div class="search-form-top">
          <label class="control-label search-label">過去イベント検索</label>
          <%= form_for('/search', method: :get) do |f| %>
            <div class="input-group search-form">
              <input class="search__query" name="keyword" placeholder="開催公園名で検索" type="text" value="">
                <input class="btn-search" title="検索" value="検索" type="submit">
                  <i class="icon-search"></i>
                </input>
            </div>
          <% end %>
        </div>
        <% if user_signed_in? && current_user.administrator == 1 %>
        <div class="row for_administrator">
          <div class="link_to_form_top"><%= link_to '過去イベント情報記入', "/tops/new" %></div>
          <div class="link_to_form_top"><%= link_to '次回イベント情報記入', "/tops/nextacts/new" %></div>
        </div>
        <% end %>
      </div>
      <div class="container-every">
        <div class="row">
          <% @activities.each do |act| %>
            <div class="event_big_box1">
              <div class="clearfix">
                <div class="event_top_left1">
                  <div class=" event_date1">
                    <h1><%= act.event_date %></h1>
                  </div>
                  <div class="event_what1">
                    <h1><%= act.event_what %></h1>
                  </div>
                  <div class="event_left_under">
                    <a href="tops/<%= act.id %>">詳細表示</a>
                  </div>
                </div>
                <div class=" event_top_right1">
                  <div class="event_image1">
                    <img src="<%= act.event_img1  if act.present? %>">
                  </div>
                  <div class="event_image2">
                    <img src="<%= act.event_img2  if act.present? %>">
                  </div>
                  <div class="event_image3">
                    <img src="<%= act.event_img3  if act.present? %>">
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container-every">
      <div class="row pagination-box">
        <div class="col-xs-12 col-sm-10 col-md-7 col-xs-offset-1 col-sm-offset-2 col-md-offset-4">
          <%= paginate(@activities) %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="tab2">
    <div class="container-every">
      <div class="row">
        <% @nextacts.each do |nexta| %>
          <div class="next_event_big_box">
            <div class="clearfix1">
              <div class=" event_left1">
                <div class=" event_date1">
                  <h1><%= nexta.event_date %></h1>
                </div>
                <div class="event_date1">
                  <h1><%= nexta.event_place %></h1>
                </div>
                <div class="event_what1">
                  <h1><%= nexta.event_what %></h1>
                </div>
              </div>
              <div class="event_right1">
                <div class="event_image1">
                  <img src="<%= nexta.next_event_img  if nexta.present? %>">
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
