<div>
      <div class="row">
        <div class="event_big_box">
        <div class="clearfix">
          <div class="event_left">
            <div class="event_date">
              <h3><%= @activity.event_date %></h3>
            </div>
            <div class="event_time">
              <h3><%= @activity.event_time %></h3>
            </div>
            <div class="event_place">
              <h2><%= @activity.event_place %></h2>
            </div>
            <div class="event_people">
              学生スタッフ,ゲスト：<h4><%= @activity.event_people %></h4>
            </div>
          </div>
          <div class="event_right">
            <div class="event_image">
            <img src="<%= @activity.event_place_img %>">
            </div>
            <div class="event_else">
              <h5><%= @activity.event_else %></h5>
            </div>
            <% if user_signed_in? && current_user.administrator == 1 %>
              <div>
                <a href="/tops/<%=@activity.id %>/edit">情報を編集</a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
</div>