<!DOCTYPE html>
<html>
  <head>
    <title>Playpark</title>
    <!--<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      function slideSwitch() {
      var $active = $('#slideshow img.active');
      if ( $active.length == 0 ) $active = $('#slideshow img:last');
      var $next =  $active.next().length ? $active.next()
        : $('#slideshow img:first');
     $active.addClass('last-active');
    $next.css({opacity: 0.0})
      .addClass('active')
      .animate({opacity: 1.0}, 1000, function() {
           $active.removeClass('active last-active');
            });
      }
      $(function() {
         setInterval( "slideSwitch()", 3000 );
      });
    </script> -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <header>
      <div class="row">
        <div class="header-upper col-md-offset-1">
          <a href="/" alt="logo">
            <div class="logo col-md-2">
              <h3>PLADEA</h3>
            </div>
          </a>
          <div class="header-upper-right col-md-2">
            <% if user_signed_in?%>
                <li class="upper-list" ><%= current_user.nickname %>でログイン中</li>
                <li class="upper-list"><a href="/users/sign_out" >サインアウト</a></li>
            <% else %>
                <li class="upper-list"><a href="/users/sign_in" >ログイン</a></li>
                <li class="upper-list"><a href="/users/sign_up" >登録</a></li>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="logo-under col-md-6 col-md-offset-1">
          <h3>PLADEAは、こどもと「ソトあそび」を創ります</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="slideshow">
            <img src="/images/main/DSC_0280.jpg" alt="画像1" class="active">
<!--             <img src="/images/main/DSC_0258.jpg" alt="画像2">
            <img src="/images/main/DSC_0262.jpg" alt="画像3">
            <img src="images/main/DSC_0257.jpg" alt="画像4"> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="header-lower col-md-8 col-md-offset-2">
          <ul>
            <li class="header-list"><a href="/dantai">PLADEAとは？</a></li>
            <li class="header-list"><a href="/students" >学生スタッフ</a></li>
            <li class="header-list"><a href="/park">公園情報</a></li>
            <li class="header-list"><a href="">お問い合わせ</a></li>
          </ul>
        </div>
      </div>
    </header>

    <%= yield %>

  </body>
</html>


