<!DOCTYPE html>
<html>
  <head>
    <title>Playpark</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
 <header>
    <div class="container-every">
      <div class="header-uppers clearfix">
        <div class="header-list-left">
          <ul class="nav nav-pills">
              <li class=""><a href="/">ホーム</a></li>
              <li class=""><a href="/dantai">コンセプト</li></a>
              <li class=""><a href="/students">学生スタッフ</li></a>
             <!--  <a href="/park" class="btn btn-default"><li class="header-list">公園情報</li></a> -->
              <li class=""><a href="">お問い合わせ</li></a>
            </ul>
        </div>
        <div class="header-upper-rights">
          <% if user_signed_in?%>
            <li class="upper-list" ><a><%= current_user.fullname %>でログイン中</a></li>
            <li class="upper-list"><a href="/users/sign_out" >サインアウト</a></li>
          <% else %>
            <li class="upper-list"><a href="/users/sign_in" >ログイン</a></li>
            <li class="upper-list"><a href="/users/sign_up" >登録</a></li>
          <% end %>
        </div>
      </div>
    </div>
    </header>
  <body>

    <%= yield %>

  </body>
</html>