<div class="container-every">
  <ul class="nav-upper nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">代表</a></li>
    <li><a href="#tab2" data-toggle="tab">副代表</a></li>
    <li><a href="#tab3" data-toggle="tab">スタッフ</a></li>
  </ul>
</div>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="tab1">
    <div class="container-every">
      <div class="row">
        <div class="dantai-top col-xs-11 col-md-4">
          <h2>代表</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade " id="tab2">
  </div>
  <div class="tab-pane fade " id="tab3">
    <div class="row">
      <div class="students-show-logo container-top">
        <h2>スタッフ紹介</h2>
      </div>
    </div>
    <div class="row container-every">
      <ul class="">
        <li>
          <% @users.each do |gakusei|%>
            <div class="intro-box">
              <div>
                <img src="<%= gakusei.avatar %>" class="student_image">
              </div>
              <div class="index-fullname">
                <p>名前 : <%= gakusei.fullname %></p>
              </div>
              <div class="index-hobby1">
                <p>趣味1 : <%= gakusei.hobby_1 %></p>
              </div>
              <div class="index-hobby2">
                <p>趣味2 : <%= gakusei.hobby_2 %></p>
              </div>
              <div class="intro-button st-btn btn btn-primary">
                <%= link_to '自己紹介表示', "students/#{gakusei.id}",:onclick=>"window.open(this.href,'hoge', 'height=500, width=600');return false;",:style => "color:white;" %>
              </div>
                <% if user_signed_in? && current_user.separate == 2 && current_user.id == gakusei.id %>
                  <div class="intro-button st-btn btn btn-primary">
                    <%= link_to '自己紹介記入', "students/#{gakusei.id}/edit",:onclick=>"window.open(this.href,'hoge', 'height=500, width=600');return false;",:style => "color:white;" %>
                  </div>
                <% end %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>